<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="display" class="com.joker.bean.Display">
		<lookup-method name="getCar" bean="benci"/>
	</bean>
	<bean class="com.joker.bean.Benci" id="benci">
	</bean>
</beans>